In [48]:
import re
import pandas as pd

### 1. Write a function named is_vowel. It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicity mentioned in the lesson, you can treat the result of re.search as a boolean value that indicates whether or not the regular expression matches the given string.

In [2]:
# For example, r"[aeiou]" matches any lowercase vowel character. Identical to r"a|e|i|o|u"
# r"[a-z]" matches lowercase a through z.

In [3]:
#r"[aeiou]

In [4]:
re.search(r"a|e|i|o|u", "banana", re.IGNORECASE)

In [5]:
re.search(r"a|e|i|o|u", "banana", re.IGNORECASE)

In [6]:
# def is_vowel(letter):
#     if re.search(r"a|e|i|o|u", letter, re.IGNORECASE):
#         print (True)
#     else:
#         print (False)

In [7]:
def is_vowel(letter):
    return bool (re.search (r"[aeiou]", letter, re.IGNORECASE))

In [8]:
is_vowel('A')

True

In [9]:
is_vowel('b')

False

### 2. Write a function named is_valid_username that accepts a string as input. A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.

In [10]:
# >>> is_valid_username('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa')
# False
# >>> is_valid_username('codeup')
# True
# >>> is_valid_username('Codeup')
# False
# >>> is_valid_username('codeup123')
# True
# >>> is_valid_username('1codeup')
# False

In [11]:
#begins with lowercase letter, only consists of lowercase letters, numbers, or _   & < 32 === True

In [12]:
#'^[a-zA-Z0-9_]*$'

In [13]:
## has letters,numbers,underscore and up to 32 letters
## the dollar sign says to terminate the string if it is beyond this point
re.search(r'^[a-z][a-z0-9_]{1,31}$', "word_9384__5888668123213231213")

In [14]:
re.search('^[a-z][a-z0-9_]{,31}$', "Word_9384__5888668123213231213")

In [15]:
re.search('[a-z0-9_]{,32}', "Codeup123_hopper23________________________45")

In [16]:
def is_valid_username(string):
    if re.search('^[a-z0-9_]{,32}', string):
        print (True)
    else:
        print (False)

In [17]:
def is_valid_username(string):
    return bool(re.search(r'^[a-z][a-z0-9_]{,31}$', string))

In [18]:
is_valid_username('codeup')

True

In [19]:
is_valid_username("codeup123_hopper2345")

True

In [20]:
is_valid_username("Codeup123_hopper23________________________45")

False

In [21]:
is_valid_username("Codeup123_hopper2345")

False

### 3. Write a regular expression to capture phone numbers. It should match all of the following:

In [22]:
# (210) 867 5309
# +1 210.867.5309
# 867-5309
# 210-867-5309

In [23]:
### ([0-9]{,4}),

In [24]:
re.search(r')

SyntaxError: EOL while scanning string literal (<ipython-input-24-348d388199f4>, line 1)

In [ ]:
#helps for the area code being optional
#r"(/d{3})?

In [ ]:
# /W matches any non alphanumeric

In [25]:
re.search(r'[0-9\+\-\ \.]{9,15}$', '210-867-5309')

In [26]:
re.search(r'[0-9\+\(\)\-\ \.]{9,15}$', '210-867-5309')

In [27]:
re.search(r'[0-9\+\(\)\-\ \.]{9,15}$', '+1 210.867.5309')

In [28]:
re.search(r'[0-9\+\(\)\-\ \.]{7,15}$', '(210) 867 5309')

In [ ]:
#.? any character

In [29]:
re.search(r'(.*)?(\d{,4})?.?(\d{,4})?.?(\d{,4})?', '(210) 867 5309')

In [30]:
# better method

# (any variable) - (numeric up to 4 -optional) - (optional) - (numeric up to 4 -optional) - optional -(numeric up to 4 -optional)
def phone_numbers(number):
    return bool( re.search(r'(.*)?(\d{,4})?.?(\d{,4})?.?(\d{,4})?', number))

In [31]:

def phone_numbers2(number):
    return bool(re.search(r'[0-9\+\(\)\-\ \.]{9,15}$', number))

### 4. Use regular expressions to convert the dates below to the standardized year-month-day format.

In [ ]:
# 02/04/19
# 02/05/19
# 02/06/19
# 02/07/19
# 02/08/19
# 02/09/19
# 02/10/19

In [32]:
sentence = '''
You can find us on the web at https://codeup.com. Our ip address is 123.123.123.123 (maybe).
'''.strip()

In [33]:
ip_re = r'\d+(\.\d+){3}'

match = re.search(ip_re, sentence)
match[0]

'123.123.123.123'

In [ ]:
# testing
#re.search(r'(?P<month>\d{2}).?(?<day>\d{2}).?(?<year>\d{2})', '02/10/19') # this matches 02 month

In [ ]:
# regex = r'(?P<month>\d{2}).?(?<day>\d{2}).?(?<year>\d{2})'
# date = '02/04/19'
# month, day, year = re.search(regex, date).groups()

In [34]:
def convert_dates(s):
    print(re.sub(r'(?P<month>\d{2})/(?P<day>\d{2})/(?P<year>\d{2})', r'\3/\2/\1', s))

In [ ]:
# def convert_dates(s):
#     print(re.search(r'(?P<month>\d{2}).?(?P<day>\d{2}).?(?P<year>\d{2})', r'\3/\2/\1', s))

In [35]:
match = re.search(r'(?P<month>\d{2}).?(?P<day>\d{2}).?(?P<year>\d{2})', '02/04/19')

In [36]:
match.groupdict()

{'month': '02', 'day': '04', 'year': '19'}

In [37]:
match.group('day')

'04'

In [38]:
for d in [ '02/04/19','02/05/19','02/06/19','02/07/19','02/08/19','02/09/19','02/10/19']:
    convert_dates(d)

19/04/02
19/05/02
19/06/02
19/07/02
19/08/02
19/09/02
19/10/02

In [39]:
re.search(r'\d+(\.\d+){3}', '345')

### 5. Write a regex to extract the various parts of these logfile lines:

In [ ]:
# GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58
# POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58
# GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58

### Pulled from class review did not get this question

In [41]:
lines = [
    """GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58""",
    """POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58""",
    """GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58"""
]
lines

['GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58',
 'POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58',
 'GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58']

In [43]:
x = re.compile("""
\}\s(?P<bytes>\d+)\s\"
""", re.VERBOSE)
match = re.search(x, lines[0])
match

In [44]:
match.group("bytes")

'510348'

In [45]:
log_pattern = re.compile(r"""
(?P<method>GET|POST) 
\s
(?P<path>/[/\w\-\?=]+)
\s
\[(?P<timestamp>.+)\]
\s
(?P<http_version>HTTP/\d+\.\d+)
\s
\{(?P<status_code>\d+)\}
\s
(?P<bytes>\d+)
\s
"(?P<user_agent>.+)"
\s
(?P<ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})
$
""", re.VERBOSE)

In [46]:
rows = [re.search(log_pattern, line).groupdict() for line in lines]
rows

[{'method': 'GET',
  'path': '/api/v1/sales?page=86',
  'timestamp': '16/Apr/2019:193452+0000',
  'http_version': 'HTTP/1.1',
  'status_code': '200',
  'bytes': '510348',
  'user_agent': 'python-requests/2.21.0',
  'ip': '97.105.19.58'},
 {'method': 'POST',
  'path': '/users_accounts/file-upload',
  'timestamp': '16/Apr/2019:193452+0000',
  'http_version': 'HTTP/1.1',
  'status_code': '201',
  'bytes': '42',
  'user_agent': 'User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36',
  'ip': '97.105.19.58'},
 {'method': 'GET',
  'path': '/api/v1/items?page=3',
  'timestamp': '16/Apr/2019:193453+0000',
  'http_version': 'HTTP/1.1',
  'status_code': '429',
  'bytes': '3561',
  'user_agent': 'python-requests/2.21.0',
  'ip': '97.105.19.58'}]

In [49]:
df = pd.DataFrame(rows)
df

,method,path,timestamp,http_version,status_code,bytes,user_agent,ip
0,GET,/api/v1/sales?page=86,16/Apr/2019:193452+0000,HTTP/1.1,200,510348,python-requests/2.21.0,97.105.19.58
1,POST,/users_accounts/file-upload,16/Apr/2019:193452+0000,HTTP/1.1,201,42,User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; ...,97.105.19.58
2,GET,/api/v1/items?page=3,16/Apr/2019:193453+0000,HTTP/1.1,429,3561,python-requests/2.21.0,97.105.19.58

In [50]:
# let's make a column that is a boolean whether or not the path contained a query string
# simple answer on one string: look for a question mark character
def is_query_string(string):
    return "?" in string

In [51]:
# df["has_query_string"] = df["path"].apply(lambda string: "?" in string)
df["has_query_string"] = df["path"].apply(is_query_string)
df

,method,path,timestamp,http_version,status_code,bytes,user_agent,ip,has_query_string
0,GET,/api/v1/sales?page=86,16/Apr/2019:193452+0000,HTTP/1.1,200,510348,python-requests/2.21.0,97.105.19.58,True
1,POST,/users_accounts/file-upload,16/Apr/2019:193452+0000,HTTP/1.1,201,42,User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; ...,97.105.19.58,False
2,GET,/api/v1/items?page=3,16/Apr/2019:193453+0000,HTTP/1.1,429,3561,python-requests/2.21.0,97.105.19.58,True

### Bonus Exercise

You can find a list of words on your mac at /usr/share/dict/words. Use this file to answer the following questions:

- How many words have at least 3 vowels?
- How many words have at least 3 vowels in a row?
- How many words have at least 4 consonants in a row?
- How many words start and end with the same letter?
- How many words start and end with a vowel?
- How many words contain the same letter 3 times in a row?
- What other interesting patterns in words can you find?

In [52]:
df = pd.read_csv("/usr/share/dict/words", header=None)
df.columns = ["word"]
df.head()

    word
0      A
1      a
2     aa
3    aal
4  aalii

In [54]:
three_or_more_vowels = df.word.str.count(r"[aeiouAEIOU]") >= 3

In [55]:
# How many words have at least 3 vowels
df[three_or_more_vowels]

               word
4             aalii
6              Aani
7          aardvark
8          aardwolf
9             Aaron
...             ...
235874  zymotically
235875     zymotize
235876    zymotoxic
235878     Zyrenian
235885   Zyzzogeton

[191365 rows x 1 columns]

In [56]:
# How many words have at least 3 vowels in a row?
df[df.word.str.count(r"[aeiouAEIOU]{3}") > 0]

                   word
234          Abietineae
235         abietineous
301         ablatitious
434         abranchious
507         absenteeism
...                 ...
235800      Zygophyceae
235801     zygophyceous
235802   Zygophyllaceae
235803  zygophyllaceous
235808    Zygopteraceae

[6182 rows x 1 columns]